 <!----contact--->
 <section class="contact" id="contact">
   <div class="main-contact">
     <span>
       <h3>مارو دنبال کنید</h3>
       <h5>صفحات فروشگاه ما در فضای مجازی</h5>
       <div class="icons">
         <a href="https://www.instagram.com/pam_pam.ir/"><i class="bx bxl-instagram bx-flashing"></i></a>
         <a href="#"><i class='bx bxl-telegram'></i></a>
         <a href="#"><i class='bx bxl-whatsapp'></i></a>
       </div>
     </span>
     <span>
       <h3>نماد</h3>
       <style>
         #zarinpal {
           margin: auto
         }

         #zarinpal img {
           width: 50px;
         }
       </style>
       <div id="zarinpal">
         <script src="https://www.zarinpal.com/webservice/TrustCode" type="text/javascript"></script>
       </div>
       <img src="/images/enamad.png" alt="" width="60px">
     </span>
   </div>

   <div class="main-contact">
     <h3>دسترسی سریع</h3>
     <li><a href="/">خانه</a></li>
     <li><a href="/#featured">دسته بندی</a></li>
     <li><a style="cursor: not-allowed;" href="#new">بلاگ</a></li>
     <li><a href="/contactUs">تماس با ما</a></li>
     <li><a href="/aboutUS">درباره ما</a></li>
   </div>

   <div class="main-contact">
     <h3>خدمات</h3>
     <li><a href="#">فروشگاه اینترنتی</a></li>
     <li><a href="#">خرید عمده ( همکاری)</a></li>
     <li><a href="#">بلاگ آموزشی</a></li>
   </div>

   <div class="main-contact">
     <h3>دسته بندی</h3>
     <li><a href="/api/product/getProducts/میوه خشک">میوه خشک</a></li>
     <li><a href="/api/product/getProducts/چای میوه ای و دمنوش"">چای میوه ای و دمنوش </a></li>
    <li><a href=" /api/product/getProducts/ادویه">ادویه</a></li>
     <li><a href="/api/product/getProducts/لواشک و ترشی">لواشک و ترشی</a></li>
     <li><a href="/api/product/getProducts/پک">پک کادویی</a></li>
     <li><a href="/api/product/getProducts/میوه خشک منجمد">میوه خشک منجمد</a></li>
   </div>
 </section>

 <div class="last-text">
   <p>
     Copyright © 2023 All rights reserved | This website Created By
     <a href="https://www.instagram.com/m.jahansoz/">Mohammad Jahansoz</a>
   </p>
 </div>

 <!----scroll top--->
 <a href="#" class="top"><i class="bx bx-up-arrow-alt"></i></a>

 <!--  -->

 <div class="tab-nav-container">
   <a href="/" class="tab <%= ( path == "home") ? "active" : "" %> ">
     <i class='bx bx-home'></i>
     <p>خانه</p>
   </a>
   <a href="/api/product/getCart" class="tab <%= ( path === "cart") ? "active" : "" %>">
     <span style="display: flex;
     align-items: center;">

       <p id="itemInCart2" style="
       width: 20px !important;
       max-width: 200px;
       text-align: center;
       height: 20px;
       font-weight: 900;
       color: red;
       font-size: 13px;
       border: 1px solid red;
      
       border-radius: 50%;overflow: inherit;"><%= (user) ? user.cart.length : "0" %></p>
       <i class="bx bx-cart-alt"></i>
     </span>
     <p>سبد خرید</p>
   </a>
   <% if(user){ %>
   <a href="/api/user/getOrders" class="tab <%= ( path === "orders") ? "active" : "" %>">
     <i class='bx bx-list-ol'></i>
     <p>لیست خرید</p>
   </a>
   <% }else{ %>
   <a href="/api/auth/signin" class="tab <%= ( path === "auth") ? "active" : "" %>">
     <i class='bx bx-log-in'></i>
     <p>ورود</p>
   </a>
   <% } %>
   <% if(search){ %>
   <a href="#" class="tab search-icon active">
     <i class='bx bx-search search-btn'></i>
     <p>جستجو</p>
   </a>
   <% }else{ %>
   <a href="#" class="tab search-icon ">
     <i class='bx bx-search search-btn'></i>
     <p>جستجو</p>
   </a>
   <% } %>
   <!--  -->
   <div class="search-overlay">
   </div>
   <div class="search-popup">
     <form class="search-form" method="POST" action="/api/product/getProducts/<%= ( typeof category === 'undefined' || category === "" || category === "all") ? "all" : category  %>">
       <div class="form-group">
         <input type="text" class="form-control" name="search" placeholder="جستجو در <%= ( typeof category === 'undefined' || category === "" || category === "all") ? "تمام محصولات" : `${category} ها` %>">
         <button type="submit" class="submit-btn"><i class="bx bx-search"></i></button>
       </div>
     </form>
   </div>
 </div>

 <!--  -->

 <script src="/js/script.js"></script>
 <script>
   function changeText(element) {
     element.innerHTML = "لطفا صبر کنید";
   }

   const tabs = document.querySelectorAll(".tab");

   tabs.forEach((clickedTab) => {
     // Add onClick event listener on each tab
     clickedTab.addEventListener("click", () => {
       // Remove the active class from all the tabs (this acts as a "hard" reset)
       tabs.forEach((tab) => {
         tab.classList.remove("active");
         tab.firstElementChild.classList.remove("bx-flashing")
       });
       // Add the active class on the clicked tab
       clickedTab.classList.add("active")
       tab.firstElementChild.classList.add("bx-flashing")

     });
   });

   //  
   const searchBtn = document.querySelector(".search-btn");
   const searchOverlay = document.querySelector(".search-overlay");
   const searchPopup = document.querySelector(".search-popup");

   searchBtn.addEventListener("click", () => {
     searchOverlay.classList.add("activeS");
     searchPopup.classList.add("activeS");
   })


   searchOverlay.addEventListener("click", (event) => {
     if (event.target == searchOverlay) {
       searchOverlay.classList.remove("activeS");
       searchPopup.classList.remove("activeS");
     }
   })

   function addToCart(btn) {
     const productEL = btn.parentNode;
     const productId = productEL.querySelector("[name=productId]").value;
     const quantity = productEL.querySelector("[name=quantity]").value;
     fetch("/api/product/addToCart", {
         method: "POST",
         headers: {
           "Content-Type": "application/json"
         },
         body: JSON.stringify({
           productId: productId,
           quantity: quantity
         })
       })
       .then(response => response.json())
       .then(data => {
         if (!data.tekrari) {
           let itemInCart = document.querySelector("#itemInCart").innerText;
           itemInCart = +itemInCart + 1;
           document.querySelector("#itemInCart").innerText = itemInCart
           document.querySelector("#itemInCart2").innerText = itemInCart
         }
       }).catch(error => {
         console.error(error);
       });
   }

   function verifyOffCode(btn) {
     const offEl = btn.parentNode;
     const offCode = offEl.querySelector("#offCode").value;
     btn.textContent = "صبر کنید..."

     fetch("/offCode/verify", {
         method: "POST",
         headers: {
           "Content-Type": "application/json"
         },
         body: JSON.stringify({
           offCode: offCode
         })
       }).then(response => response.json())
       .then(off => {
         if (off) {
           console.log("code doroste");
           document.querySelector("#offCodeMessage").textContent = `${off.percent} درصد تخفیف اعمال شد.`
           document.querySelector("#offCodeMessage").style.border = "2px solid green"
           document.querySelector("#offCodeMessage").style.borderRadius = "2rem"
           offEl.querySelector("#offCode").disabled = true;
           btn.disabled = true;
           btn.textContent = "اعمال شد."
           const tpp = document.getElementById('hiddenTotalPricePay').textContent
           const payWithOff = tpp / 100 * (100 - off.percent);
           document.querySelector('#totalPricePay').parentNode.style.textDecoration = "line-through"
           document.querySelector('#totalPricePay').parentNode.style.color = "gray"
           document.querySelector('#totalPricePay').style.color = "gray"
           document.getElementById('offCodeHidden').value = offCode;
           document.getElementById('finalPriceWithOff').textContent = ` مبلغ قابل پرداخت : ${payWithOff.toLocaleString("fa")} تومان`
           const all = parseInt(document.getElementById('hiddenTotalOff').textContent) + parseInt(tpp);
           const newOff = all - payWithOff;
           document.getElementById('totalOff').textContent = newOff.toLocaleString('fa')
           document.getElementById('totalOff').style.color = "#6ec22f"


         } else {
           btn.textContent = "اعتبار سنجی"
           document.querySelector("#offCodeMessage").textContent = "کد تخفیف وارد شده منقضی شده یا اشتباه است!"
           document.querySelector("#offCodeMessage").style.border = "2px solid red"
           document.querySelector("#offCodeMessage").style.borderRadius = "2rem"
         }
       }).catch(error => {
         console.error(error);
       });
   }
 </script>
 </body>

 </html>