<%- include('./includes/head') -%> <%- include('./includes/header') -%>


<% let totalPrice = 0 %>
<div class="small-container cart-page">
  <% if(cart.length > 0){ %>
  <table>
    <tr>
      <th>
        نام محصول
      </th>
      <th>قیمت * تعداد</th>
      <th>قیمت کل</th>
      <th>حذف</th>
    </tr>


    <% for(const item of cart){ %>
    <tr>
      <td>
        <a href="/api/product/getProduct/<%= item.productId._id %>" class="cart-info">
          <img src="<%= item.productId.imageUrl[0] %>" alt="">
          <p><%= item.productId.name %></p>
        </a>
      </td>
      <td><%= item.productId.price %> * <%= item.quantity %></td>
      <td><%= item.productId.price * item.quantity %></td>
      <% totalPrice += item.productId.price * item.quantity %>
      <td>
        <a href="/api/product/deleteCartItem/<%= item.productId._id %>"><i class='bx bx-trash'></i></a>
      </td>
    </tr>
    <% } %>


  </table>
  <div>
    <span>
      <h4>جمع قیمت محصولات : <%= totalPrice.toLocaleString('fa') %></h4>
      <h4>هزینه ارسال : 35,000</h4>
      <h4>هزینه نهایی : <%= (totalPrice + 35000).toLocaleString('fa') %></h4>
    </span>
    <a href="/api/user/getOrderForm" class="btn">ادامه فرایند خرید</a>
  </div>
  <% }else{ %>
  <div style="text-align: center; display: flex; flex-direction: column;">
    <i style="color: green; font-size: 3rem;" class='bx bx-cart-add'></i>
    <h4 style="color: green;
  font-size: 2rem;">سبد خرید شما خالی میباشد!</h4>
    <p>برای خرید محصولات ما اول باید به <a style="color: green;" href="/api/product/getProducts/all">این لینک</a> برید و اونجا هر محصولی که دوست داشتید رو انتخاب کنید سپس تعدادش رو مشخص کنید و در نهایت به سبد خرید اضافه کنید!</p>
  </div>
  <% } %>
</div>



<%- include('./includes/footer') -%>