<%- include('./includes/head') -%> <%- include('./includes/header') -%>



<div class="small-container cart-page">

<table>
  <tr>
    <th>
      نام محصول
  </th>
    <th>قیمت * تعداد</th>
    <th>قیمت کل</th>
    <th>حذف</th>
  </tr>
  <% let totalPrice = 0 %>
  <% for(const item of cart){ %>
  <tr>
    <td>
      <span class="cart-info">
        <img src="<%= item.productId.imageUrl %>" alt="">
        <p><%= item.productId.name %></p>
      </span>
    </td>
    <td><%= item.productId.price %> * <%= item.quantity %></td>
    <td><%= item.productId.price * item.quantity %></td>
    <% totalPrice += item.productId.price * item.quantity %>
    <td>
      <a href="/api/product/deleteCartItem/<%= item.productId._id %>"><i class='bx bx-trash'></i></a>
    </td>
  </tr>
  <% } %>

</table>
<div>
<span>
  <h4>جمع قیمت محصولات  : <%= totalPrice %></h4>
  <h4>هزینه ارسال : 35000</h4>
  <h4>هزینه نهایی : <%= totalPrice + 35000 %></h4>
</span>
  <button class="btn">ادامه فرایند خرید</button>
</div>
</div>



<%- include('./includes/footer') -%>
