<%- include('./includes/head') -%> <%- include('./includes/header') -%>

<!----home--->
<section class="home" id="home">
  <div class="home-text">
    <span>
      <h1>ูพูู ูพูู <br /><span>ูุฑูุดฺฏุงู ุงูุชุฑูุช ููู ุฎุดฺฉ</span></h1>
      <p>ูุฑุบูุจ ุชุฑู ููู ุฎุดฺฉ ฺฉู ุจุง ุนุดู ุจุฑุง ุดูุง ุณุงุฎุชู ุดุฏู</p>
      <a href="/api/product/getProducts/all" class="btn">ูุญุตููุงุช</a>
    </span>
    <img src="/images/logo-white.png" alt="pam-pam logo" srcset="">
  </div>
</section>
<!----featured--->
<section class="featured" id="featured">
  <div class="center-text">
    <h2>ุฏุณุชู ุจูุฏ ูุญุตููุงุช</h2>
  </div>

  <div class="featured-content">
    <div class="row">
      <img src="/images/fruit-dryed.jpg" />
      <div class="fea-text">
        <h5>๐ููู ุฎุดฺฉ๐</h5>
      </div>
      <div class="arrow">
        <a href="/api/product/getProducts/ููู ุฎุดฺฉ"><i class="bx bx-right-arrow-alt"></i></a>
      </div>
    </div>

    <div class="row">
      <img src="/images/fruit-tea.webp" />
      <div class="fea-text">
        <h5>๐ตฺุง ููู ุง๐ต</h5>
      </div>
      <div class="arrow">
        <a href="/api/product/getProducts/ฺุง ููู ุง ู ุฏูููุด"><i class="bx bx-right-arrow-alt"></i></a>
      </div>
    </div>

    <div class="row">
      <img src="/images/advie.jpg" />
      <div class="fea-text">
        <h5>๐ฅซุงุฏูู ุฌุงุช๐ฅซ</h5>
      </div>
      <div class="arrow">
        <a href="/api/product/getProducts/ุงุฏูู"><i class="bx bx-right-arrow-alt"></i></a>
      </div>
    </div>

    <div class="row">
      <img src="/images/lavashak.jpg" />
      <div class="fea-text">
        <h5>๐คคููุงุดฺฉ ู ุชุฑุด๐คค</h5>
      </div>
      <div class="arrow">
        <a href="/api/product/getProducts/ููุงุดฺฉ ู ุชุฑุด"><i class="bx bx-right-arrow-alt"></i></a>
      </div>
    </div>

    <div class="row">
      <img src="/images/pack.jpg" />
      <div class="fea-text">
        <h5>๐ูพฺฉ ฺฉุงุฏู๐</h5>
      </div>
      <div class="arrow">
        <a href="/api/product/getProducts/ูพฺฉ"><i class="bx bx-right-arrow-alt"></i></a>
      </div>
    </div>

    <div class="row">
      <img src="/images/fruit-freez-dryed.webp" />
      <div class="fea-text">
        <h5>๐ูุฑุฒ ุฏุฑุงุฑ๐</h5>
      </div>
      <div class="arrow">
        <a href="/api/product/getProducts/ููู ุฎุดฺฉ ููุฌูุฏ"><i class="bx bx-right-arrow-alt"></i></a>
      </div>
    </div>
  </div>
</section>

<!----cta--->
<section class="cta">
  <div class="cta-text">
    <h6>๐ฅูพุฑูุฑูุด ุชุฑู๐ฅ</h6>
    <h4>
      20% ุชุฎูู<br />
      13 ููู ุฎูุดูุฒู ุฏุฑ ฺฉ ูพฺฉ
    </h4>
    <a href="#" class="btn">ููู ุงูุงู ุจุฎุฑุฏ!</a>
  </div>
</section>

<!----new--->
<section class="new" id="new">
  <div class="center-text">
    <h2>ูุญุตููุงุช</h2>
  </div>
  <div class="new-content">
    <% for(const product of products){ %>
    <div class="box">
      <img src="<%= product.imageUrl %>" />
      <h5><%= product.name %></h5>
      <h6><%= product.price %> ุชููุงู</h6>
      <% if(product.sale){ %>
      <div class="sale">
        <h4><%= product.sale %></h4>
      </div>
      <% } %>
      <a href="/api/product/getProduct/<%= product._id %>">ูุดุงูุฏู ูุญุตูู</a>
    </div>
    <% } %>
  </div>
  <a href="/api/product/getProducts/all" id="see-more">ูุดุงูุฏู ุจุดุชุฑ...</a>
</section>




<!----brand--->
<!-- <section class="brand">
      <div class="brand-content">
        <div class="main">
          <img src="img/brand1.png" />
        </div>

        <div class="main">
          <img src="img/brand2.png" />
        </div>

        <div class="main">
          <img src="img/brand3.png" />
        </div>

        <div class="main">
          <img src="img/brand4.png" />
        </div>

        <div class="main">
          <img src="img/brand5.png" />
        </div>

        <div class="main">
          <img src="img/brand6.png" />
        </div>
      </div>
    </section> -->

<%- include('./includes/footer') -%>