<%- include('./includes/head') -%> <%- include('./includes/header') -%>




<!-- single product details -->
<div>


  <div class="small-container single-product">
    <div class="row-sp">
      <div class="col-2">
        <img src="<%= product.imageUrl[0] %>" alt="" width="100%" id="ProductImg" />

        <div class="small-img-row">
          <div class="small-img-col">
            <img src="<%= product.imageUrl[0] %>" alt="" width="100%" class="small-img" />
          </div>
          <div class="small-img-col">
            <img src="<%= product.imageUrl[1] %>" alt="" width="100%" class="small-img" />
          </div>
          <div class="small-img-col">
            <img src="<%= product.imageUrl[2] %>" alt="" width="100%" class="small-img" />
          </div>
          <div class="small-img-col">
            <img src="<%= product.imageUrl[3] %>" alt="" width="100%" class="small-img" />
          </div>
        </div>
      </div>
      <div class="col-2">
        <span class="like-container">
          <p><%= product.category %></p>
        </span>

        <h1><%= product.name %></h1>
        <h4><%= product.price.toLocaleString('fa') %> ุชููุงู</h4>
        <!-- <select>
        <option>Select Size</option>
        <option>XXL</option>
        <option>XL</option>
        <option>L</option>
        <option>M</option>
        <option>S</option>
      </select> -->

        <% if(user){ %>
        <div class="backdrop">
          <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <div>
          <input type="hidden" name="productId" value="<%= product._id %>">
          <input type="number" name="quantity" value="1" min="1" />
          <label for="quantity"> ุชุนุฏุงุฏ </label>
          <button onclick="addToCart(this)" type="submit" class="btn show-modal">ุงูุฒูุฏู ุจู ุณุจุฏ ุฎุฑุฏ</button>
        </div>
        <div class="modal">
          <div class="shape">
            <div class="face2">
              <div class="eye"></div>
              <div class="eye right"></div>
              <div class="mouth sad" style="transform: rotate(230deg);"></div>
            </div>
            <div class="shadow move"></div>
          </div>
          <h1>ุชุจุฑฺฉ ูฺฏู</h1>
          <p>ุดูุง ฺฉุงูุงุฑู ุจุง ููููุช ุจู ุณุจุฏ ุฎุฑุฏุชูู ุงุถุงูู ฺฉุฑุฏุฏ!ุจุฑุง ุชฺฉูู ุณูุงุฑุด ู ุงุฑุณุงู ุจู ุณุจุฏ ุฎุฑุฏุชูู ุจุฑุฏ ู ุงููุฌุง ูพุฑุฏุงุฎุช ุฑู ุงูุฌุงู ุจุฏุฏ</p>
          <div style="display: flex; gap: 1rem;">
            <a href="/api/product/getCart" class="btn close-modal">ุณุจุฏ ุฎุฑุฏ</a>
            <a href="/api/product/getProducts/all" class="btn ">ุณุงุฑ ูุญุตููุงุช</a>
          </div>
        </div>
        <% }else{ %>
        <div class="backdrop">
          <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <button class="btn show-modal">ุงูุฒูุฏู ุจู ุณุจุฏ ุฎุฑุฏ</button>
        <div class="modal">
          <div class="shape">
            <div class="face2">
              <div class="eye"></div>
              <div class="eye right"></div>
              <div class="mouth sad" style="transform: rotate(45deg);"></div>
            </div>
            <div class="shadow move"></div>
          </div>
          <h1>ูุชุงุณูู!</h1>
          <p>ุจุฑุง ุฎุฑุฏ ุงุจุชุฏุง ุจุงุฏ ุชู ุณุงุช ูุง ุซุจุช ูุงู ฺฉูุฏ ุง ุงฺฏุฑ ุญุณุงุจ ฺฉุงุฑุจุฑ ุฏุงุฑุฏ ูุงุฑุฏ ุดูุฏ!</p>
          <div style="display: flex; gap: 1rem;">
            <a href="/api/auth/signin" class="btn close-modal">ูุฑูุฏ</a>
            <a href="/api/auth/signup" class="btn ">ุซุจุช ูุงู </a>
          </div>
        </div>
        <% }%>
        <h3>ุชูุถุญุงุช <i class="fas fa-indent"></i></h3>
        <br />
        <p>
          ููู ุฎุดฺฉ ููุฒ ฺฉ ุงุฒ ุจูุชุฑู ู ุฎูุดูุฒู ุชุฑู ููู ูุงู ฺฉู ุดูุง ูุชููุฏ ุชูู ฺฉูุฏ ู ุจุฎูุฑุฏ ู ุจุฎุงุทุฑ ุฎูุงุต ุฒุงุฏ ู ุฎูุดูุฒฺฏุด ุฎู ูพุฑุทุฑูุฏุงุฑู ู ุชูุงู ูุดุชุฑ ูุง ูุง ุญุชูุง ุญุฏุงูู ฺฉ ุจุงุฑ ุงุฒุด ุฎุฑุฏู
        </p>
      </div>
    </div>
  </div>

  <!-- title -->





  <div class="small-container text-in-border">

    <h2>
      <span>
        ูุญุตููุงุช ูุฑุชุจุท
      </span>
    </h2>

    <!-- products -->
    <!-- <div class="small-container"> -->
    <div class="row-sp">
      <% for(const relatedProduct of product.relatedProduct){ %>
      <a href="/api/product/getProduct/<%= relatedProduct._id %>" class="col-4">
        <img src="<%= relatedProduct.imageUrl[0] %>" alt="" />
        <h4><%= relatedProduct.name %></h4>
        <p><%= relatedProduct.price %> ุชููุงู</p>
      </a>
      <% } %>
    </div>
  </div>

  <!-- </div> -->
  <div id="comments" class="small-container comment-section-container">

    <form class="" action="/api/product/comment/<%= product._id %>" method="POST">

      <div class="comment-text-container">
        <label for="comment">Your comment</label>
        <textarea name="comment" id="comment" rows="6" class=" focus:outline-none" placeholder="ูุทูุง ูุธุฑ ุฎูุฏ ุฑุง ุจููุณุฏ..." required></textarea>
      </div>

      <div class="comment-input-container">
        <input type="email" name="email" value="" placeholder="ุงูู ุฎูุฏ ุฑุง ูุงุฑุฏ ฺฉูุฏ" class="" />
        <input type="text" name="name" placeholder="ูุงู ุฎูุฏ ุฑุง ูุงุฑุฏ ฺฉูุฏ" class="" />
      </div>
      <button type="submit" class="btn">
        ุงุฑุณุงู ฺฉุงููุช
      </button>
    </form>

    <% for(const item of product.comments.reverse()){ %>

    <div class="cm">
      <div class="cm-cm">
        <span>
          <p><%= item.comment.name %></p>
          <p><%= item.comment.createdAt.toLocaleString('fa-IR-u-nu-latn').split(',',1) %></p>
        </span>
        <p><%= item.comment.comment %></p>
      </div>
      <% if(item.reply){ %>
      <div class="cm-reply">
        <p>ูพุงุณุฎ ุงุฏูู๐จ๐ปโ๐ป</p>
        <p><%= item.reply %></p>
      </div>
      <% } %>
    </div>
    <%  } %>
  </div>
</div>


<script>
  var ProductImg = document.getElementById('ProductImg');
  var SmallImg = document.getElementsByClassName('small-img');
  SmallImg[0].onclick = function() {
    ProductImg.src = SmallImg[0].src;
  };
  SmallImg[1].onclick = function() {
    ProductImg.src = SmallImg[1].src;
  };
  SmallImg[2].onclick = function() {
    ProductImg.src = SmallImg[2].src;
  };
  SmallImg[3].onclick = function() {
    ProductImg.src = SmallImg[3].src;
  };


  const showModalBtn = document.querySelector(".show-modal");
  const modal = document.querySelector(".modal");
  const backDrop = document.querySelector(".backdrop");
  const closeModal = document.querySelector(".close-modal");
  const confirmModal = document.querySelector(".confirm-modal");

  showModalBtn.addEventListener("click", () => {
    modal.style.opacity = "1";
    modal.style.transform = "translate(-50%,-50%)", "translateY(0)";
    backDrop.style.display = "block";
  });

  function closeModalFunction() {
    modal.style.opacity = "0";
    modal.style.transform = "scale(0.0)", "translateY(30px)";
    backDrop.style.display = "none";
  }
  closeModal.addEventListener("click", closeModalFunction);
  backDrop.addEventListener("click", closeModalFunction);
  confirmModal.addEventListener("click", () => {
    closeModalFunction();
    alert('Confirm it later');
  })
</script>



<%- include('./includes/footer') -%>