<%- include('./includes/head') -%>
<%- include('./includes/header') -%>

<div class="products-container">
  <% for(const product of products){ %>
  <div>
    <img src="<%= product.imageUrl[0] %>" alt="">
    <h4><%= product.name %></h4>
    <p><%= product.price %></p>
    <a class="btn" href="/admin/deleteProduct/<%= product._id %>">Delete</a>
    <a class="btn" href="/admin/product/<%= product._id %>">Edit</a>
    <a href="/admin/product/comments/<%= product._id %>">Comments</a>
  </div>
  <% } %>
</div>


<a href="/admin/addProduct" class="plus">
  <i class='bx bx-plus bx-sm'></i>
</a>
<%- include('./includes/footer') -%>